.main-top-section {
  width: 100%;
  height: 375px;
  background: #f7f1e7;
  position: relative;
}

.top-header {
  width: 100%;
  height: 70px;
  text-align: center;
  background: #d8d8d8;
}

/*  Step-1 You need to get all of these elements to line up side by side. What display property would do this for you? */

.menu {
  width: 100px;
  height: 40px;
  background: rgb(124, 141, 120);
  float: right;
  margin-right: 15px;
}

.logo {
  width: 300px;
  height: 40px;
  margin-top: 10px;
  background: rgb(124, 141, 120);
  float: right;
  margin: auto;
  margin-right: 105px;
}

.sign-in {
  width: 100px;
  height: 40px;
  background: rgb(124, 141, 120);
  margin-left: 15px;
}

/*  Step-1 Make this container overhang off its parent container using display and bottom properties.  */

.bottom-container {
  width: 60%;
  height: 60px;
  left: 22%;
  background: rgb(124, 141, 120);
  margin-left: 20%;
  margin-top: 38%;
}
